/*сам не знаю зззачем*/
* {
  box-sizing: border-box;
}
body {
  /*нормальные,красивые шрифты */
  font-family: Tahoma, sans-serif;
  /*между сторчный интервал*/
  line-height: 1.5;
  color: #333333;
}
.section {
  /*что бы не прелепало к кроям*/
  padding: 30px 10%;
}
.header {
  /*отступ сверху*/
  margin-top: 80px;
  /*делает шрифт по больше*/
  font-size: 24px;
  /*выравнивает текст по центру*/
  text-align: center;
}
.header span {
  /*жирность текста чем выше число тем жирнее текст*/
  font-weight: 300;
  display: block;
}
.header strong {
  /*жирность текста чем выше число тем жирнее текст*/
  font-weight: 900;
  /*весь текст будет с зоглавными буквами*/
  text-transform: uppercase;
}
.main {
  /*выравнивоет текст по центру*/
  text-align: center;
  /*отступ сверху*/
  margin-top: 80px;
}
.video,
.form {
  /*делает блочные строчными */
  display: inline-block;
  /*выравнивает что либо сверху от родителя*/
  vertical-align: top;
}
.form {
  /*отступ с лева от видео*/
  margin-left: 30px;
  /*выравнивает текст по цениру*/
  text-align: center;
  /*между строчный интервал*/
  padding: 20px;
  /*полоска синего цвета в форме кводрата*/
  border: 5px solid #2727d9;
}
.form-hader {
  /*выравнивает текст по цениру*/
  text-align: center;
  /*делает шрифт по больше*/
  font-size: 20px;
  /*жирность текста чем выше число тем жирнее текст*/
  font-weight: 900;
  /*отступ снизу*/
  margin-bottom: 20px;
}
.form input {
  display: block;
  /*отступ сверху*/
  margin-top: 11px;
  width: 300px;
  /*что бы не прелепало к кроям*/
  padding: 17px ;
  /*делает шрифт по больше*/
  font-size: 18px;
  border: 1px solid #333;
}
a {
  color: #fff;
  /*убирает подчёркивание у ссылок*/
  text-decoration: none;
}
.btn {
  /*делает шрифт по больше*/
  font-size: 18px;
  /*жирность текста чем выше число тем жирнее текст*/
  font-weight: 900;
  color: #fff;
  background-color: #2727d9;
  /*что бы кнопка была бкз ткстур, кросивая, сплошная*/
  border: none;
  width: 300px;
  height: 60px;
  display: block;
  margin: 11px auto;
}
.col {
  display: inline-block;
  /*выравнивает текст по цениру*/
  text-align: center;
  margin: 10px 40px;
}
.feature-hader {
  /*выравнивает текст по цениру*/
  text-align: center;
  text-transform: uppercase;
  /*жирность текста чем выше число тем жирнее текст*/
  font-weight: 900;
  /*делает шрифт по больше*/
  font-size: 24px;
}
.feature {
  /*выравнивает текст по цениру*/
  text-align: center;
  margin: 60px;
}
.ffgg {
  /*выравнивает текст по цениру*/
  text-align: center;
}
.dfdf {
  width: 700px;
  height: 600px;
}
.btn-2a {
  /*делает шрифт по больше*/
  font-size: 18px;
  /*жирность текста чем выше число тем жирнее текст*/
  font-weight: 900;
  color: #fff;
  background-color: #2727d9;
  border: none;
  width: 300px;
  height: 60px;
  display: inline-block;
  margin: 12px 300px;
  /*выравнивает текст по цениру*/
  text-align: center;
  margin: auto 180px;
}
.btn-3p {
  /*делает шрифт по больше*/
  font-size: 18px;
  /*жирность текста чем выше число тем жирнее текст*/
  font-weight: 900;
  color: #fff;
  background-color: #2727d9;
  border: none;
  width: 300px;
  height: 60px;
  display: inline-block;
  margin: 11px 250px;
  /*выравнивает текст по цениру*/
  text-align: center;
  margin: auto 180px;
}
